In [1]:
! wget https://query.data.world/s/ykom6fpxso63tqjmgqfglgjbbyekxm
! mv ykom6fpxso63tqjmgqfglgjbbyekxm market_price.csv

--2022-11-01 08:57:07--  https://query.data.world/s/ykom6fpxso63tqjmgqfglgjbbyekxm
Resolving query.data.world (query.data.world)... 151.101.2.133, 151.101.66.133, 151.101.130.133, ...
Connecting to query.data.world (query.data.world)|151.101.2.133|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://download.data.world/file_download/dcereijo/player-scores/player_valuations?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50OnJsYXFoZHJ1ZCIsImlzcyI6ImFnZW50OnJsYXFoZHJ1ZDo6YmY1Y2UwMTQtOTgyNC00YjYzLWJiYjUtNjFlY2FhNmFmNjIzIiwiaWF0IjoxNjY2MTY0MDA1LCJyb2xlIjpbInVzZXIiLCJ1c2VyX2FwaV9hZG1pbiIsInVzZXJfYXBpX2VudGVycHJpc2VfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiNjExNTI3ZmVmNDEzMTI5MGI1OWEwODAwODk3MzQ2NmIxOGViNmM5OSJ9.pnEjFIXbrfJG10mTaErdO8Rs_JAO7pFQs6FyW7l6hc8fmTM_Ca5W7fTcGJDzJ9rt6G8YiHs9XO3HeFkkbLpQBQ [following]
--2022-11-01 08:57:08--  https://download.data.world/file_download/dcereijo/player-scores/player_valuations?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50OnJsYXFoZHJ1ZCIsImlzcyI6ImFnZW50OnJsYXFoZHJ1ZDo6YmY1Y2UwMTQtOTgyNC00YjYzLWJiYjUtNjFlY2FhNmFmNjIzIiwiaWF0IjoxNjY2MTY0MDA1LCJyb2xlIjpbInVzZXIiLCJ1c2VyX2FwaV9hZG1pbiIsInVzZXJfYXBpX2VudGVycHJpc2VfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiNjExNTI3ZmVmNDEzMTI5MGI1OWEwODAwODk3MzQ2NmIxOGViNmM5OSJ9.pnEjFIXbrfJG10mTaErdO8Rs_JAO7pFQs6FyW7l6hc8fmTM_Ca5W7fTcGJDzJ9rt6G8YiHs9XO3HeFkkbLpQBQ
Resolving download.data.world (download.data.world)... 151.101.2.133, 151.101.66.133, 151.101.130.133, ...
Connecting to download.data.world (download.data.world)|151.101.2.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘ykom6fpxso63tqjmgqfglgjbbyekxm’

ykom6fpxso63tqjmgqf     [  <=>               ]  18.92M  47.1MB/s    in 0.4s

2022-11-01 08:57:08 (47.1 MB/s) - ‘ykom6fpxso63tqjmgqfglgjbbyekxm’ saved [19839046]

In [2]:
import pandas as pd

In [3]:
market_price = pd.read_csv('/content/market_price.csv')
market_price.head()

,player_id,date,market_value,datetime,dateweek,current_club_id,player_club_domestic_competition_id
0,254016,2013-07-22,90000,2013-07-22,2013-07-22,855,FR1
1,254016,2014-01-14,90000,2014-01-14,2014-01-13,855,FR1
2,51053,2008-08-25,90000,2008-08-25,2008-08-25,23,L1
3,51053,2011-05-30,90000,2011-05-30,2011-05-30,23,L1
4,51053,2011-08-26,225000,2011-08-26,2011-08-22,23,L1

In [4]:
# 최신일자 확인
df = market_price.sort_values(by=[market_price.columns[1]], ascending=False)
df.head()

,player_id,date,market_value,datetime,dateweek,current_club_id,player_club_domestic_competition_id
329750,443124,2022-08-05,180000,2022-08-05,2022-08-01,7378,PO1
337621,406766,2022-08-05,900000,2022-08-05,2022-08-01,3329,PO1
279656,66515,2022-08-05,2250000,2022-08-05,2022-08-01,114,TR1
248522,41414,2022-08-05,900000,2022-08-05,2022-08-01,398,IT1
333166,662950,2022-08-05,180000,2022-08-05,2022-08-01,3329,PO1

In [7]:
df[df['player_club_domestic_competition_id']=='PL']

Empty DataFrame
Columns: [player_id, date, market_value, datetime, dateweek, current_club_id, player_club_domestic_competition_id]
Index: []